body {
    background-color: #3C99DC;
    color: #0F5298;
    font-family: Helvetica, Arial, sans-serif;;
}

h1, h2 {
    color: #fff;
}

img {
    margin: 10px 0; 
}

table, tbody {
    color: #0F5298;
    border-collapse: collapse;
    margin: 10px 0;
    border: 1px solid black;
    text-align: center;
	vertical-align: middle;
}

th, td {
    padding: 8px;
}

caption {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: #FFF;
    margin-bottom: 16px;
}

thead {
    background-color: #006bbb;
    color: white;
    font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

tbody tr:nth-of-type(even){
    background-color: #66D3FA;
}

tbody tr:nth-of-type(odd){
    background-color: #D5F3FE;
}

button {
    border: none;
    cursor: pointer;
    background-color: #0F5298;
    color:white;
    font-size:16px;
    padding: 0.5em 1em;
    border-radius: 5px;
}

button:hover {
    background: darkblue;
    color: #ffffff;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    text-align: left;
}
